extends base


block content
    div
         h3
            p=video.description
            small=video.createdAt
            br
            small=video.hashtags
    a(href=`${video.id}/edit`) Edit &rarr;
    br
    a(href=`${video.id}/remove`) Remove &rarr;
    